.adRight {
    width: 200px;
    position: absolute;
    right: 0;
    top: 50%;
    animation:ad 3s both;
  }
  
  .icon {
    position: absolute;
    right: 0;
    top: -12px;
    background: rgba(204, 204, 204, 0.63);
    padding: 0 4px;
    border: none;
    cursor: pointer;
  }
  
  .adRight img {
    width: 100%;
  }
  
  @keyframes ad {
    0% {
      right: 0;
      top: 0;
    }
    50% {
      right: 50%;
      top: 90%;
    }
    100% {
      right: 0;
      top: 50%;
    }
  }