header {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.head {
    height: 50px;
    background: linear-gradient(to bottom, #d01d3b, #d3617a);
    margin-bottom: 20px;
    border-radius: 8px;
}

.gameLogo {
    float: left;
    padding-top: 5px;
}

.gameIndex {
    background: url("../../images/btn-01.gif") 0 0 no-repeat;
    width: 100px;
    height: 40px;
    text-align: center;
    float: left;
    position: relative;
    top: 10px;
    left: 20px;
}

.gameIndex>a,
.gameIndex>a:hover {
    font-size: 14px;
    color: #cb3333;
    font-weight: 700;
    line-height: 40px;
}

.menu {
    float: right;
    color: #dbb9b9;
    padding: 15px 30px 0px 0px;
}

.menu>a {
    color: #fff;
    padding: 0 7px;
    margin-right: 5px;
    border-right: 1px solid #fff;
}

.menu>a:last-child {
    border-right: none;
}

.menu>a:hover{
    transform:scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    font-weight: bold;
}